{% extends "contenedor.html" %}
{% load staticfiles %}
{% block content %}

<form id="formulario">

<table border="0" align="center" >
  <tr height="40px">
    <td width="600">&nbsp;</td>


  </tr>
  <tr>

   <td style="height: 30px" align="CENTER"><label> <font color="black" face="Arial" size=4>LISTADO DE PRODUCTOS STOCK MINIMO/AGOTADOS: </font></label></td>


  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="height: 30px" align="left"><div id="resultado" >
        </div></td>


  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
      <td style="height: 30px" align="left">&nbsp;</td>

  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
      <td style="height: 30px" align="left">&nbsp;</td>

  </tr>
</table>

</form>





{% endblock content %}